<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>我的帖子</string>
		<key>imageName</key>
		<string>my_post.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>活动</string>
		<key>imageName</key>
		<string>my_activites.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>附近</string>
		<key>imageName</key>
		<string>my_near.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>审核</string>
		<key>imageName</key>
		<string>my_check.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏中心</string>
		<key>imageName</key>
		<string>came_center.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的收藏</string>
		<key>imageName</key>
		<string>my_collect.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>最近热门</string>
		<key>imageName</key>
		<string>my_hot.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>用户反馈</string>
		<key>imageName</key>
		<string>my_feedback.png</string>
		<key>className</key>
		<string>MyPostsViewController</string>
	</dict>
</array>
</plist>
